<h1>Posts#new</h1>
<p>Find me in app/views/posts/new.html.erb</p>

<%= form_for @post, html: { multipart: true } do |f| %>

      <%= f.label :image %>
      <%= f.file_field :image %>
  <br>
  <%= f.label :description %>
  <%= f.text_area :description %>
  <br>
  <%= f.submit %>
  
<% end %>