<!DOCTYPE html>
<html>
  
  
<head>
  <title>TestApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>


<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
              <!--  <a class="navbar-brand" href="#">Instagramtrust</a> -->
              <%= link_to "Instagramtrustytoo", root_url, class: "navbar-brand" %>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <%= link_to "New Post", new_post_path %>
                    </li>
                    <li>
                        <% if current_user %>
                        <li>
                          <%= link_to "Logout", destroy_user_session_path, method: :delete, data: {confirm: "Are you sure you want to log out?"} %>
                        </li>
                        <% else %>
                        <li>
                          <%= link_to "Login", new_user_session_path %>
                        </li>
                        <li>
                          <%= link_to "Register", new_user_registration_path %>
                        </li>
                        <% end %>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
              <% flash.each do |a,b| %>
              <div class="alert alert-success"> <%= b %>
              </div>
              <% end %>
                <%= yield %>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

  <style>
    body{padding-top: 70px;}
  </style>

</body>

</html>

